{% load static %}
{% load custom_tags %}
{% get_modules as modules %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="{% static 'js/dash.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <title>Vault•Ed</title>
    </head>
    <body>
        <div class="navbar">
            <a class="home-btn" href="{% url 'dash' %}">
                <img id="logo" src="{% static 'images/logo.png' %}">
            </a>
            <div class="nav-icons">
                {% include "svgs/dropdown.svg.html" %}
                {% include "svgs/message.svg.html" %}
                {% include "svgs/notification.svg.html" %}
                {% include "svgs/divide.svg.html" %}
                <div class="profile-sec">
                    <h2 id="profile-icon">HS</h2>
                    <h2 id="profile-btn">{{ user.username }}</h2>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="left-section">
                <div class="stats">
                    <div class="circle-container">
                        <svg class="progress-ring" width="120" height="120">
                          <circle class="ring-bg-att" cx="60" cy="60" r="54" />
                          <circle class="ring-fill-att" cx="60" cy="60" r="54" />
                        </svg>
                        <div class="percentage-text" id="percentage-text-att">0%</div>
                    </div>
                    <div class="circle-container">
                        <svg class="progress-ring" width="120" height="120">
                          <circle class="ring-bg-grade" cx="60" cy="60" r="54" />
                          <circle class="ring-fill-grade" cx="60" cy="60" r="54" />
                        </svg>
                        <div class="percentage-text" id="percentage-text-grade">0%</div>
                    </div>
                </div>
                <div class="deadlines">
 
                </div>
            </div> 
            <div class="center-section">
                <div class="activities">
                    {% for module in modules %}
                        {% if module.code in user.modules %}
                        <div class="module">
                            <img id="module-img" src="{% static 'images/dash/module/' %}{{ module.code }}.jpg">
                            <h3>{{ module.name }} - {{ module.code }}</h3>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="right-section">
                <div class="todo">
                    
                </div>
            </div>
            {% include "svgs/ai.svg.html" %}
        </div>
    </body>
</html>