{% load static %}
{% load custom_tags %}
{% get_modules as modules %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="{% static 'js/dash.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <title>Vault•Ed</title>
    </head>
    <body>
        <div class="navbar">
            <a class="home-btn" href="{% url 'dash' %}">
                <img id="logo" src="{% static 'images/logo.png' %}">
            </a>
            <div class="nav-icons">
                {% include "svgs/dropdown.svg.html" %}
                {% include "svgs/message.svg.html" %}
                {% include "svgs/notification.svg.html" %}
                {% include "svgs/divide.svg.html" %}
                <div class="profile-sec">
                    <h2 id="profile-icon">HS</h2>
                    <h2 id="profile-btn">{{ user.username }}</h2>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="left-section">
                <div class="stats">
                    <div class="attendance">
                        <H2 id="stat-title">Attendance</H2>
                        <div class="circle-container">
                            <svg class="progress-ring" width="180" height="180">
                                <circle class="ring-bg-att" cx="90" cy="90" r="81" />
                                <circle class="ring-fill-att" cx="90" cy="90" r="81" />
                            </svg>
                            <div class="percentage-text" id="percentage-text-att">0%</div>
                        </div>
                    </div>
                    <div class="grade">
                        <div class="circle-container">
                            <svg class="progress-ring" width="180" height="180">
                                <circle class="ring-bg-grade" cx="90" cy="90" r="81" />
                                <circle class="ring-fill-grade" cx="90" cy="90" r="81" />
                            </svg>
                            <div class="percentage-text" id="percentage-text-grade">0%</div>
                        </div>
                        <H2 id="stat-title">Grade</H2>
                    </div>
                </div>
                <div class="deadlines">
                    <h2 id="deadline-title">Deadlines</h2>
                    <div class="deadline">
                        <div class="deadline-left">
                            <img id="deadline-img" src="{% static 'images/dash/module/' %}CIS2360-2425.jpg">
                            <div class="deadline-detail">
                                <h4 id="deadline-module">Relational Databases and Web Integration</h4>
                                <p id="deadline-assignment">Relational Database Design</p>
                            </div>
                        </div>
                        <div class="deadline-date">
                            <p id="deadline-day">13</p>
                            <h4 id="deadline-month">MAR</h4>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="center-section">
                <div class="modules-container">
                    <div class="modules">
                    {% for module in modules %}
                        <div class="module">
                        <img id="module-img" src="{% static 'images/dash/module/' %}{{ module.code }}.jpg">
                        <p id="module-title">{{ module.name }}: {{ module.code }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="stats">
                    <div class="circle-container">
                        <svg class="progress-ring" width="160" height="160">
                            <circle class="ring-bg-att" cx="80" cy="80" r="72" />
                            <circle class="ring-fill-att" cx="80" cy="80" r="72" />
                        </svg>
                        <div class="percentage-text" id="percentage-text-att">0%</div>
                    </div>
                    <div class="circle-container">
                        <svg class="progress-ring" width="160" height="160">
                            <circle class="ring-bg-grade" cx="80" cy="80" r="72" />
                            <circle class="ring-fill-grade" cx="80" cy="80" r="72" />
                        </svg>
                        <div class="percentage-text" id="percentage-text-grade">0%</div>
                    </div>
                </div>
            </div>
            {% include "svgs/ai.svg.html" %}
        </div>
    </body>
</html>